PORT=3001

DATABASE_URL=postgresql://user:password@localhost:5432/lexsync

JWT_SECRET=
JWT_EXPIRES=15m

rabbitMQ_username=
rabbitMQ_password=

ALLOWED_ORIGINS=http://localhost:3000

NODE_ENV=development
